#canvas {
	width: 200px;
	height: 440px;
	background-color: green;
	border: 6px;
	border-color: blue;
	border-style: double;
}

.row {
	float: left;
}

.square {
	width: 20px;
	height: 20px;
	background-color: yellow;
}


