#canvas {
	width: 200px;
	height: 440px;
	background-color: green;
	border: 6px;
	border-color: blue;
	border-style: double;
}

.block {
	border: 1px;
	border-style: solid;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	
}

.empty {
	background-color: #99E6FF;
	
}

.row {
	float: left;
}

.square {
	width: 20px;
	height: 20px;
}

